html, body{
    font-family: 'Lato', sans-serif;
    height:100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.application{
    width: 100%;
    height: 100vh;
    background: black;
}

/* LEFT PANEL */

.left{
    background: linear-gradient(to bottom, #ededed, #cccccc);
    width: calc(100% - 300px);
    float: left;
    height: 100%;
    position: relative;
}

.scale{
    width: 100px;
    background: transparent;
    color: #999999;
    box-sizing: border-box;
    margin: 0px;
    text-align: center;
    padding: 0px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 999;
}

.scale--meters{
    border-left: 0.01em solid #999999;
    border-bottom: 0.01em solid #999999;
    border-right: 0.01em solid #999999;
    width: 100px;
    display: block;
}

.accessPoint--radioBorder{
    width: 200px;
    height: 200px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    border-radius: 50%;
    background: rgba(68, 137, 244, 0.1);
    left: calc(50% - 75px);
    top: calc(50% - 75px);
    z-index: 997;
}

.accessPoint--element{
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    position: absolute;
    z-index: 998;
}

.client__dot{
    border-radius: 50%;
    position: absolute;
}

.client__dot--green{
    background: #05b880;
}

.client__dot--red{
    background: #ff3419;
}

/* RIGHT PANEL */

.right{
    width: 300px;
    height: 100%;
    padding: 0em 1em;
    float: right;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #1f282f, #000000);;
    z-index: 999;
    position: relative;
}

.txPower{
    color: white;
    padding: 0px;
    margin: 0px;
}

.txPower__header{
    padding: 0px;
    margin-bottom: 0.5em;
    color: #A9A9A9;
    font-size: 0.9em;
    font-weight: bold;
}

.txPower__select select::-ms-expand {
    display: none;
}

.txPower:after {
    content: '>';
    color: #74777a;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 2em;
    top: 3em;
    position: absolute;
    pointer-events: none;
}

.txPower__select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px;
    margin-top: 5px;
    background: transparent;
    color: white;
    width: 100%;
    border: 0.1em solid #454d51;
    outline: none;
}

.txPower__select select option{
    color: black;
}

.radio{
    color: white;
    margin-bottom: 1.5em;
}

.radio__header{
    padding: 0px;
    margin-bottom: 1em;
    color: #A9A9A9;
    font-size: 0.9em;
    font-weight: bold;
}

.radio__label {
    display: block;
    position: relative;
    padding-left: 1.7em;
    margin-bottom: 0.8em;
    cursor: pointer;
    font-size: 0.9em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.radio__label--input {
    position: absolute;
    opacity: 0;
}
  
.radio__label--checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: transparent;
    border: 0.1em solid #454d51;
    border-radius: 50%;
}
  
.radio__label:hover input ~ .radio__label--checkmark {
    background-color: transparent;
}
  
.radio__label input:checked ~ .radio__label--checkmark {
    background-color: #009edd;
}
  
.radio__label--checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.radio__label input:checked ~ .radio__label--checkmark:after {
    display: block;
}
  
.radio__label .radio__label--checkmark:after {
    top: 5px;
    left: 5px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
}

.button{
    margin: 1em 0 0 1em;
    padding: 0.4em 1em 0.4em 1em;
    float: right;
    border: none;
    cursor: pointer;
    outline: none;
}

.button--save{
    background: #009edd;
    color: white;
    border-radius: 10%;
    text-transform: uppercase;
    font-weight: bold;
}

.button--cancel{
    background: none;
    color: #009edd;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 3em;
}